

<div class="body">
    <div class="contact-container">
        <div class="card">
        <i class="pi pi-envelope"></i>
        <h2 class="card-title">Email</h2>
        <p class="card-info">name@gmail.com</p>
        </div>
        <div class="card">
        <i class="pi pi-phone"></i>
        <h2 class="card-title">Phone number</h2>
        <p class="card-info">0102124242</p>
        </div>
        <div class="card">
        <i class="pi pi-map"></i>
        <h2 class="card-title">Location</h2>
        <p class="card-info">Egypt</p>
        </div>
        </div>
</div>


